<h1>LIST</h1>
<ul class="list-group">
	<% _.each(collection, function(data){ %>
	<li class="list-group-item ">
	    <span class="badge"><a href="#" class="delete" data-id="<%= data._id %>">Delete</a></span>
	    <span class="badge"><a href="#editForm" class="edit" data-id="<%= data._id %>">Edit</a></span>
		<h4 class="list-group-item-heading"><%= data.title %></h4>
	    <p class="list-group-item-text"><%= data.content %></p>
		<form class="form-horizontal editForm" data-id="<%= data._id %>">
			<h1>Edit</h1>
			<fieldset>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-2 control-label">Annonce</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="titledit" placeholder="<%= data.title %>" data-id="<%= data._id %>">
			      </div>
			    </div>
				<div class="form-group">
			      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
			      <div class="col-lg-10">
			        <textarea class="form-control" rows="3" id="contenuedit" placeholder="Contenu de l'Annonce" data-id="<%= data._id %>"><%= data.content %></textarea>
			      </div>
			    </div>
			</fieldset>
			<button type="submit" id="btn-edit" class="btn btn-default" data-id="<%= data._id %>">Submit</button>
		</form>
	</li>

  <%  }) %>
	
</ul>